table {
    margin: auto;
    text-align: center;
    padding: 0;
    border-collapse:collapse;
}

tr {
    height: 20px;
    margin: 0;
    padding: 3px;
}

td {
    border: 1px solid black;
    margin: 0;
    padding: 3px
}

th {
    border: 1px solid black;
    padding: 3px;
    min-width: 20px;
}